venv/
__pycache__/
*.pyc
.pytest_cache/
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Archivos temporales
*.log

# Base de datos SQLite local
data/*.db
data/*.db-shm
data/*.db-wal